openapi: 3.0.1
info:
  title: ETRA API
  description: The ETRA RESTful service using springdoc and OpenAPI 3.
  contact:
    name: Byteworks Bot
    email: airekeola@byteworks.com.ng
  version: '1.0'
servers:
  - url: http://transport.byteworks.com.ng/api
    description: Generated server url
tags:
  - name: location
    description: Location API
  - name: zone
    description: Zone API
paths:
  /users:
    post:
      tags:
        - user-management-controller
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUserDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /ticket-sales/create:
    post:
      tags:
        - ticket-sales-controller
      operationId: createAgentTicketBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAgentTicketBatchDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /ticket-batches/assign-to-appuser:
    post:
      tags:
        - ticket-batch-controller
      operationId: assignTicketBatchToAppUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTicketBatchAssignmentDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketBatch'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /tarrif/{id}/deactivate:
    post:
      tags:
        - tarrif-management-controller
      summary: Deactivate Ticket Type
      description: Can deactivate new tarrif (Ticket Type)
      operationId: deactivateTicketType
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TicketType'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /tarrif/{id}/activate:
    post:
      tags:
        - tarrif-management-controller
      summary: Activate Ticket Type
      description: Can create activate tarrif (Ticket Type)
      operationId: activateTicketType
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TicketType'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /tarrif/update:
    post:
      tags:
        - tarrif-management-controller
      summary: Create a new Ticket Type
      description: Can create a new tarrif (Ticket Type)
      operationId: updateTicketType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTicketTypeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TicketType'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /tarrif/create:
    post:
      tags:
        - tarrif-management-controller
      summary: Create a new Ticket Type
      description: Can create a new tarrif (Ticket Type)
      operationId: createTicketType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTicketTypeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TicketType'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /request-token:
    post:
      tags:
        - user-controller
      operationId: requestToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /portal-users/change-user-password/{username}:
    post:
      tags:
        - portal-user-controller
      operationId: changePasswordForUser
      parameters:
        - name: newPassword
          in: query
          required: true
          schema:
            type: string
        - name: notificationChannel
          in: query
          required: false
          schema:
            type: string
            enum:
              - PHONE_NUMBER
              - EMAIL
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /payment/validate:
    post:
      tags:
        - payment-controller
      operationId: validateCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInformationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /payment/notification:
    post:
      tags:
        - payment-controller
      operationId: processPaymentNotification
      parameters:
        - name: X-PAYMENT-PROVIDER
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /otp/verify:
    post:
      tags:
        - one-time-password-controller
      operationId: verifyOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOtpDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CustomApiResponseString'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /otp/request:
    post:
      tags:
        - one-time-password-controller
      operationId: requestOneTimePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestOtpDto'
        required: true
      responses:
        '200':
          description: Request Email Verification
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CustomApiResponseString'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /me/address:
    post:
      tags:
        - user-controller
      operationId: setAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /logout:
    post:
      tags:
        - user-controller
      operationId: logoutUser
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /files/upload:
    post:
      tags:
        - bw-file-controller
      operationId: uploadFile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UploadFileResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /etra-app/request-token:
    post:
      tags:
        - user-controller
      operationId: requestAppToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseAppUserProfilePojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /bills:
    get:
      tags:
        - bill-controller
      summary: Search Bills
      description: A user can search for Bills
      operationId: searchBills
      parameters:
        - name: biller
          in: query
          required: false
          schema:
            type: string
        - name: agentId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: datePaid
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: dueDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: description
          in: query
          required: false
          schema:
            type: string
        - name: billItems
          in: query
          required: false
          schema:
            type: string
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: qrCode
          in: query
          required: false
          schema:
            type: string
        - name: reasonForDisapproval
          in: query
          required: false
          schema:
            type: string
        - name: customerEmail
          in: query
          required: false
          schema:
            type: string
        - name: lastReviewer
          in: query
          required: false
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: paymentStatus
          in: query
          required: false
          schema:
            type: string
            enum:
              - PAID
              - PENDING
              - PARTIAL
        - name: approvalStatus
          in: query
          required: false
          schema:
            type: string
            enum:
              - APPROVED
              - PENDING
              - DISAPPROVED
        - name: customerAddress
          in: query
          required: false
          schema:
            type: string
        - name: amount
          in: query
          required: false
          schema:
            type: number
        - name: billType
          in: query
          required: false
          schema:
            type: string
            enum:
              - TICKET_BATCH
        - name: customerName
          in: query
          required: false
          schema:
            type: string
        - name: lastReviewDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: paymentInvoice
          in: query
          required: false
          schema:
            type: string
        - name: billNumber
          in: query
          required: false
          schema:
            type: string
        - name: customerPhoneNumber
          in: query
          required: false
          schema:
            type: string
        - name: customer
          in: query
          required: false
          schema:
            type: string
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: createdBefore
          in: query
          required: false
          schema:
            type: string
        - name: createdAfter
          in: query
          required: false
          schema:
            type: string
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsBillPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
    post:
      tags:
        - bill-controller
      summary: Generate Bill
      description: A user can generate Bill
      operationId: generateBill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillGenerationDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenerateBillPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /app-users:
    get:
      tags:
        - app-user-controller
      operationId: searchAppUsers
      parameters:
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: lastName
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: displayName
          in: query
          required: false
          schema:
            type: string
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: portalUser
          in: query
          required: false
          schema:
            type: string
        - name: firstName
          in: query
          required: false
          schema:
            type: string
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: username
          in: query
          required: false
          schema:
            type: string
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: agentId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: role
          in: query
          required: false
          schema:
            type: string
            enum:
              - SELLER
              - ENFORCER
        - name: phoneNumber
          in: query
          required: false
          schema:
            type: string
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: agentEmail
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: agentName
          in: query
          required: false
          schema:
            type: string
        - name: createdBefore
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: createdAfter
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsAppUserPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
    post:
      tags:
        - app-user-controller
      operationId: createAppUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAppUserDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppUserPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /app-users/vend:
    post:
      tags:
        - app-user-controller
      operationId: vendTicket
      parameters:
        - name: organizationId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTicketVendDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseAppUserAvailableBatchesPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /app-users/validate:
    post:
      tags:
        - app-user-controller
      operationId: validateTicket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTicketValidationDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TicketIssuancePojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /agents:
    get:
      tags:
        - agent-controller
      summary: search agent
      description: An Organisation can search for Agents
      operationId: searchAgent
      parameters:
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: portalUser
          in: query
          required: false
          schema:
            type: string
        - name: agentId
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: phoneNumber
          in: query
          required: false
          schema:
            type: string
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: createdBefore
          in: query
          required: false
          schema:
            type: string
        - name: createdAfter
          in: query
          required: false
          schema:
            type: string
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: zoneCode
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsAgentPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
    post:
      tags:
        - agent-controller
      summary: register agent
      description: An Organisation can register an Agent
      operationId: registerAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRegistrationDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgentPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /users/{id}:
    get:
      tags:
        - user-management-controller
      operationId: getUserDetails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PortalUserPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
    patch:
      tags:
        - user-management-controller
      operationId: updateUserDetails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditUserDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PortalUserPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /organizations/{id}/review:
    patch:
      tags:
        - organization-controller
      operationId: reviewOrganization
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: review
          in: query
          required: true
          schema:
            type: string
            enum:
              - APPROVED
              - PENDING
              - DISAPPROVED
        - name: reasonForDisapproval
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /app-users/{id}:
    get:
      tags:
        - app-user-controller
      operationId: getAppUserDetails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppUserPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
    patch:
      tags:
        - app-user-controller
      operationId: editAppUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditAppUserDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppUserPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /agents/{id}:
    get:
      tags:
        - agent-controller
      summary: get agent
      description: Get details of an Agent
      operationId: getAgent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgentPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
    delete:
      tags:
        - agent-controller
      operationId: deactivateAgent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: orgId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgentPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
    patch:
      tags:
        - agent-controller
      operationId: editAgent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditAgentDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgentPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /agents/reactivate/{id}:
    patch:
      tags:
        - agent-controller
      operationId: reactivateAgent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactivateAgentDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgentPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /zones:
    get:
      tags:
        - zone
      summary: search zones
      description: filter zones
      operationId: searchZones
      parameters:
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: organization
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsZone'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /users/unique-email:
    get:
      tags:
        - user-management-controller
      operationId: isEmailUnique
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseString'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /users/search:
    get:
      tags:
        - user-management-controller
      operationId: searchPortalUsers
      parameters:
        - name: lastName
          in: query
          required: false
          schema:
            type: string
        - name: gender
          in: query
          required: false
          schema:
            type: string
            enum:
              - MALE
              - FEMALE
              - UNSPECIFIED
              - OTHER
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: generatedPassword
          in: query
          required: false
          schema:
            type: string
        - name: displayName
          in: query
          required: false
          schema:
            type: string
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: portalAccountMemberships
          in: query
          required: false
          schema:
            type: string
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: nationalIdentityNumber
          in: query
          required: false
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: preferredName
          in: query
          required: false
          schema:
            type: string
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: setupComplete
          in: query
          required: false
          schema:
            type: boolean
        - name: dateOfBirth
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: userId
          in: query
          required: false
          schema:
            type: string
        - name: emailVerified
          in: query
          required: false
          schema:
            type: boolean
        - name: firstName
          in: query
          required: false
          schema:
            type: string
        - name: otherNames
          in: query
          required: false
          schema:
            type: string
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: username
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: accountCode
          in: query
          required: false
          schema:
            type: string
        - name: phoneNumber
          in: query
          required: false
          schema:
            type: string
        - name: role
          in: query
          required: false
          schema:
            type: string
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: accountType
          in: query
          required: false
          schema:
            type: string
            enum:
              - ADMIN
              - ORGANIZATION
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: createdBefore
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: createdAfter
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsPortalUserPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /ticket-validation-logs:
    get:
      tags:
        - ticket-validation-log-controller
      operationId: searchValidationLogs
      parameters:
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: appUser
          in: query
          required: false
          schema:
            type: string
        - name: ticketNumber
          in: query
          required: false
          schema:
            type: string
        - name: validationResult
          in: query
          required: false
          schema:
            type: string
            enum:
              - VALID
              - INVALID
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ticketIssuance
          in: query
          required: false
          schema:
            type: string
        - name: ticketType
          in: query
          required: false
          schema:
            type: string
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: phoneNumber
          in: query
          required: false
          schema:
            type: string
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: organization
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: vehicleNumber
          in: query
          required: false
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: gpsCoordinate
          in: query
          required: false
          schema:
            type: string
        - name: appUserId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: trackingId
          in: query
          required: false
          schema:
            type: string
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: createdBefore
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: createdAfter
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsTicketValidationLogPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /ticket-sales:
    get:
      tags:
        - ticket-sales-controller
      operationId: searchTicketSales
      parameters:
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: agent
          in: query
          required: false
          schema:
            type: string
        - name: ticketBatch
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ticketType
          in: query
          required: false
          schema:
            type: string
        - name: organizationPaymentInfo
          in: query
          required: false
          schema:
            type: string
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: batchNumber
          in: query
          required: false
          schema:
            type: string
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: salesToDate
          in: query
          required: false
          schema:
            type: string
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: salesFromDate
          in: query
          required: false
          schema:
            type: string
        - name: zone
          in: query
          required: false
          schema:
            type: string
        - name: paymentReference
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsTicketSalesPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /ticket-sales/{organizationId}/validate-payment:
    get:
      tags:
        - ticket-sales-controller
      operationId: validatePayment
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: paymentReference
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentValidationPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /ticket-issuances:
    get:
      tags:
        - ticket-issuance-controller
      operationId: searchTicketIssuances
      parameters:
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: appUser
          in: query
          required: false
          schema:
            type: string
        - name: ticket
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ticketTypeId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: recipientPhoneNumber
          in: query
          required: false
          schema:
            type: string
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: zone
          in: query
          required: false
          schema:
            type: string
        - name: ticketTypeCode
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: vehicleNumber
          in: query
          required: false
          schema:
            type: string
        - name: recipientName
          in: query
          required: false
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: appUserId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsTicketIssuancePojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /ticket-issuance-logs:
    get:
      tags:
        - ticket-issuance-log-controller
      operationId: searchTicketIssuanceLogs
      parameters:
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: appUser
          in: query
          required: false
          schema:
            type: string
        - name: ticketNumber
          in: query
          required: false
          schema:
            type: string
        - name: ticket
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ticketType
          in: query
          required: false
          schema:
            type: string
        - name: ticketTypeId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: recipientPhoneNumber
          in: query
          required: false
          schema:
            type: string
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: zone
          in: query
          required: false
          schema:
            type: string
        - name: appUserName
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: zoneId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: recipientName
          in: query
          required: false
          schema:
            type: string
        - name: vehicleNumber
          in: query
          required: false
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: appUserId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: agentId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: agentEmail
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: agentName
          in: query
          required: false
          schema:
            type: string
        - name: createdBefore
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: createdAfter
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultPojoTicketIssuanceLogPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /ticket-batches:
    get:
      tags:
        - ticket-batch-controller
      operationId: searchTicketBatch
      parameters:
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ticketType
          in: query
          required: false
          schema:
            type: string
        - name: ticketTypeId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: numberOfTicketsInBatch
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: batchSoldOut
          in: query
          required: false
          schema:
            type: boolean
        - name: ticketType.name
          in: query
          required: false
          schema:
            type: string
        - name: productionDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ticketBatchRequest
          in: query
          required: false
          schema:
            type: string
        - name: unitAmount
          in: query
          required: false
          schema:
            type: number
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: batchNumber
          in: query
          required: false
          schema:
            type: string
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: agentId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: organizationName
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: appUserName
          in: query
          required: false
          schema:
            type: string
        - name: agentName
          in: query
          required: false
          schema:
            type: string
        - name: createdBefore
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: createdAfter
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: appUserId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultPojoTicketBatchPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /ticket-batches/organizations/{organizationId}/agents/{agentId}/appuser-unassigned:
    get:
      tags:
        - ticket-batch-controller
      operationId: getBatchesUnassignedToAppUsers
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: agentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsTicketBatchPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /tarrif:
    get:
      tags:
        - tarrif-management-controller
      summary: search ticket types
      description: Can search for Tarrifs (Ticket types)
      operationId: search
      parameters:
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: organizationName
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: buyingPricePerUnit
          in: query
          required: false
          schema:
            type: number
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: organization
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: sellingPricePerUnit
          in: query
          required: false
          schema:
            type: number
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: createdBefore
          in: query
          required: false
          schema:
            type: string
        - name: createdAfter
          in: query
          required: false
          schema:
            type: string
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsTarrifManagementPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /tarrif/{id}:
    get:
      tags:
        - tarrif-management-controller
      summary: Create a new Ticket Type
      description: Can create a new tarrif (Ticket Type)
      operationId: getTicketType
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TarrifManagementPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /portal-users/unique-user-phone:
    get:
      tags:
        - portal-user-controller
      operationId: uniqueUserPhone
      parameters:
        - name: phoneNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /portal-users/unique-user-email:
    get:
      tags:
        - portal-user-controller
      operationId: uniqueUserEmail
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /portal-users/fetch/by-phone:
    get:
      tags:
        - portal-user-controller
      operationId: getUserDetailsByPhoneNumber
      parameters:
        - name: phoneNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseBasicUserDetails'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /portal-users/fetch/by-email:
    get:
      tags:
        - portal-user-controller
      operationId: getUserDetailsByEmail
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseBasicUserDetails'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /portal-accounts:
    get:
      tags:
        - portal-account-controller
      operationId: searchPortalAccounts
      parameters:
        - name: approvalStatus
          in: query
          required: false
          schema:
            type: string
            enum:
              - APPROVED
              - PENDING
              - DISAPPROVED
        - name: lastUpdatedBy
          in: query
          required: false
          schema:
            type: string
        - name: address
          in: query
          required: false
          schema:
            type: string
        - name: code
          in: query
          required: false
          schema:
            type: string
        - name: lgaId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: organizationName
          in: query
          required: false
          schema:
            type: string
        - name: lastUpdatedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: portalAccountMembershipCollection
          in: query
          required: false
          schema:
            type: string
        - name: stateId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: lgaCode
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - ADMIN
              - ORGANIZATION
        - name: countryId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: deactivatedBy
          in: query
          required: false
          schema:
            type: string
        - name: accountPhoneNumber
          in: query
          required: false
          schema:
            type: string
        - name: organizationType
          in: query
          required: false
          schema:
            type: string
            enum:
              - LOCAL_GOVERNMENT
              - FEDERAL_GOVERNMENT
              - STATE_GOVERNMENT
              - OTHER
        - name: createdAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: accountEmail
          in: query
          required: false
          schema:
            type: string
        - name: createdBy
          in: query
          required: false
          schema:
            type: string
        - name: reasonForDisapproval
          in: query
          required: false
          schema:
            type: string
        - name: organization
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: dateDeactivated
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: orderColumn
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsPortalAccount'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /portal-accounts/{accountCode}/roles:
    get:
      tags:
        - portal-account-controller
      operationId: getRolesForAccount
      parameters:
        - name: accountCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /organizations/{id}:
    get:
      tags:
        - organization-controller
      operationId: viewOrganizationDetails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationSummaryWithTariffPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /organizations/unique-organization-name:
    get:
      tags:
        - organization-controller
      operationId: uniqueOrganizationName
      parameters:
        - name: organizationName
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /nationalities:
    get:
      tags:
        - nationality-controller
      operationId: searchNationalities
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResultsNationality'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: object
        '412':
          description: Precondition Failed
          content:
            '*/*':
              schema:
                type: object
      security:
        - ApiKey: []
  /me:
    get:
      tags:
        - user-controller
      operationId: userDetails
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserPojo'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
[...]
